a {
    color: #6c757d;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 34px 60px 20px;
}




footer {
    background-color: #1A263B;
    ;
}

.footer-column:not(:first-child) {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .footer-column:not(:first-child) {
        padding-top: 0rem;
    }
}

.footer-column {
    text-align: center;
}

.footer-logo {
    padding: 49px 16px 32px 21px;
    margin-top: 48px;
}

.footer-column .nav-item .footer-title {
    padding: 1.1rem 0;
}

.footer-column .nav-item span {
    color: #ffffff;

}

.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer-column .nav-item .fas {
    margin-right: 0.5rem;
}

.footer-column ul {
    display: inline-block;
}

@media (min-width: 768px) {
    .footer-column ul {
        text-align: left;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #EB0D2C;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;


}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}